/config/database.yml
/config/session_token.yml
/docs
dist/
/tmp
.tmp
tmp
.db
db/schema.rb
/.bundle
.bundle
/log/*.log
log/**/*
*.log
public/uploads/*
.ruby-gemset
.ruby-version
public/assets/
.gitignore
config/unicorn.rb
