- @page_title = 'Commercial technical support - Support'
= render 'support_nav'

%section.content
  .inner
    .sub
      %ul.largeButtons
        %li.ticket
          %a{:href => '#'}
            %h4 Create a ticket
            %p Submit an support request to our core development team
        %li.ticket-status
          %a{:href => '#'}
            %h4 Check status
            %p Check the status of an outstanding Cunary support ticket

    .main
      %h2 Commercial technical support
      %p
        We offer a paid-for technical support service for anyone who is struggling with developing or
        deploying Cunary. Obviously, if you think you've found a bug we will happily discuss these things
        with you through GitHub issues. If you have an implementation issue or a question, we charge a
        fee of only <b>$80 per ticket</b> with a Cunary core developer.
      
      %p
        Once you've paid for your ticket, there are no limits on the number of messages you can send
        us about the same issue. All communications will happen by e-mail to the address you give
        when you submit your first ticket.
      
      %p
        We don't provide any SLA for this service but we will always aim to reply to tickets within
        24 hours.
        
      %p
        To get submit a ticket, just use the button on the right to get started.