- @page_title = 'Custom module development - Support'
= render 'support_nav'

%section.content
  .inner
    .sub
      %ul.largeButtons
        %li.quote
          %a{:href => 'mailto:development@tryshoppe.com'}
            %h4 Request Quote
            %p Contact us for an estimate for your custom development
    
    .main
      %h2 Custom module development
      %p
        We're here to help if you need to integrate with unsupported payment gateways or 
        other third-party applications. Our custom module development service will create a
        module for your Shoppe store to do exactly what you need.
      
      %h3 License
      %p 
        We ask that custom development carried out by us is licensed under the same license as 
        the Shoppe software. This isn't a requirement, you can keep your module to yourself, but
        we'd be forever grateful. 
      
      %h3 Pricing
      %p
        Module development prices start from $100/hour and an estimate will be provided before any
        work begins and we will need an upfront payment before any development work can commence.
        
      %h3 Example modules
      %p
        Extending Shoppe to integrate with any number of third party services is usually very simple.
      %ul.list 
        %li Additional payment gateways
        %li Integrations with external accounting software
        %li Integrations with drop shipping services
        %li Courier/Delivery service integrations and support
        %li 