- @active_nav = :features
- @page_title = 'Features'

= content_for :banner do
  .banner.features
    .inner
%section.features
  %section.ui
    .inner
      .screenshot= image_tag('screenshots/orders.png', :alt => "Orders in the Cunary admin UI")
      .text
        %h3 Business Solutions
        %p At Cunary, we provide Web Solutions, which works on three pillars i.e. planning, designing, and technology. This allows us to create optimal web solutions for our clients. We offer the best services for web solutions using technologies such as Ruby on Rails, PhP, Spring, Play Framework, Open source, and more. Our developed solution helps companies or personal client to increase their revenue, improve efficiency, reduce cost and raise customer satisfaction level.
        %ul
          %li Retail Management System
          %li Inventory Management System
          %li Customer Relationship Management System
          %li Billing & Invoicing System
          %li Employee Management System
          %li Time & Expense Tracking System
          %li Project Management System
          %li Custom Development
          %li and more!

  %section.developers
    .inner.inner_developer
      %h3 Web Solutions
      %p At Cunary, we provide Web Solutions, which works on three pillars i.e. planning, designing, and technology. This allows us to create optimal web solutions for our clients. Our developed solution helps companies or personal client to increase their revenue, improve efficiency, reduce cost and raise customer satisfaction level.
      .text
        %ul.ul_developer
          %li Custom Website Development
          %br/
          %li Personal Website Development
          %br/
          %li Ecommerce Websites Development
          %br/
          %li SAAS Based Applications
          %br/
          %li Open Source Website Development
          %br/
          %li SEO Services
          %br/
          %li and more!

  %section.gateways
    .inner
      %h3 Our Technology
      %p
        Cunary itself doesn't make any assumptions about how your payments work so you can build in support for
        whatever payment gateway you use.
      %p
        That's not to say we can't provide modules and we currently have modules for a number of gateways, check our
        #{link_to 'modules page', code_modules_path} for full details.
