- @page_title = 'Bugs & Features - Support'
= render 'support_nav'

%section.content
  .inner
    .sub
      %ul.largeButtons
        %li.mailinglist
          %a{:href => 'https://groups.google.com/forum/#!forum/shoppe-talk'}
            %h4 The mailing list
            %p Chat with the rest of community on our Google-powered mailing list.
        %li.blog
          %a{:href => 'http://blog.tryshoppe.com'}
            %h4 Our blog
            %p Subscribe to our blog for all the latest updates & releases.
        %li.twitter
          %a{:href => 'http://twitter.com/tryshoppe'}
            %h4 Twitter
            %p Follow us @tryshoppe on Twitter for all the latest news.

    .main
      %h2 Get involved
      %p
        If you have questions, you can always use one of the methods below to chat 
        with other Shoppe users and the core team.
      %h3 Mailing List
      %p
        We operate our own #{link_to 'Google mailing list', 'https://groups.google.com/forum/#!forum/shoppe-talk'}
        which is ideal for getting help, helping others or just having a chat. Join the list today to get involved.
      
      %h3 Our blog
      %p
        #{link_to 'Subscribe to our blog', 'http://blog.tryshoppe.com'} for all the latest news
        and updates and information about what's in the pipeline and information about all the latest releases.

      %h3 Twitter
      %p
        #{link_to 'Follow us on Twitter', 'http://twitter.com/tryshoppe'} for information about
        the latest versions & releases of Shoppe.
      
      %h3 IRC channel
      %p  
        If you fancy chatting in realtime, why not join the #shoppe IRC channel on irc.freenode.net.