- @page_title = "Logos - Cunary"
= render 'about_nav'

%section.content
  .inner
    .main

      %h2 The Cunary Logo
      %p
        The Cunary logomark is a simple affair featuing a mark and text. 
        We want to make usage of the logo as flexible as possible but we do need
        to protect the project so please read the guidelines below as to how and
        where you can use the logo. If you have any doubt, please just ask.

      %ul.logos
        %li.light= image_tag 'logo-full-white.svg'
        %li.dark= image_tag 'logo-full-black.svg'

      %p.download
        = link_to "Download logo pack &mdash; AI, SVG & PNG".html_safe, '/files/logos.zip', :class => 'button'
  

      %h3 Where can I use the Cunary logo?
      %ul.logo-usage
        %li.ok You <b>may use</b> the logo when developing any Cunary modules, documentation or other plugins
        %li.ok You <b>may use</b> the logo on your own website to convey knowledge and experience with the Cunary platform.
        %li.bad You <b>may not use</b> the logo to suggest any "official link" with the the Cunary project. For example, you may not publish a book called "The Official Guide to Cunary" without permission.
        %li.bad You <b>may not use</b> the logo to suggest any endorsement by the developers or partners of Cunary. For example, you may not refer to yourself as a "Cunary Certified Developer".
        %li.bad You <b>may not use</b> the logo in order to raise money for any cause other than the official Cunary development fund.
  