- @page_title = "Logos - Shoppe"
= render 'about_nav'

%h2 The Shoppe Logo
%p
  The Shoppe logomark is a simple affair featuing a mark and text. 
  We want to make usage of the logo as flexible as possible but we do need
  to protect the project so please read the guidelines below as to how and
  where you can use the logo. If you have any doubt, please just ask.

%ul.logos
  %li.light= image_tag 'logo-full-white.svg'
  %li.dark= image_tag 'logo-full-black.svg'

%p.download
  = link_to "Download logo pack &mdash; AI, SVG & PNG".html_safe, '/files/logos.zip', :class => 'button'
  

%h3 Where can I use the Shoppe logo?
%ul.logo-usage
  %li.ok You <b>may use</b> the logo when developing any Shoppe modules, documentation or other plugins
  %li.ok You <b>may use</b> the logo on your own website to convey knowledge and experience with the Shoppe platform.
  %li.bad You <b>may not use</b> the logo to suggest any "official link" with the the Shoppe project. For example, you may not publish a book called "The Official Guide to Shoppe" without permission.
  %li.bad You <b>may not use</b> the logo to suggest any endorsement by the developers or partners of Shoppe. For example, you may not refer to yourself as a "Shoppe Certified Developer".
  %li.bad You <b>may not use</b> the logo in order to raise money for any cause other than the official Shoppe development fund.
  