- @page_title = 'Bugs & Features - Support'
= render 'support_nav'

%section.content
  .inner
    .sub
      %ul.largeButtons
        %li.bug
          %a{:href => 'https://github.com/tryshoppe/shoppe/issues/new?labels=bug'}
            %h4 Report a bug
            %p Use GitHub issues to report a bug with Shoppe
        %li.feature
          %a{:href => 'https://github.com/tryshoppe/shoppe/issues/new?labels=suggestion'}
            %h4 Suggest feature
            %p Use GitHub issues to suggest features for Shoppe
        %li.security
          %a{:href => 'mailto:security@tryshoppe.com'}
            %h4 Security issue
            %p Drop us an e-mail to report security problems with Shoppe.

    .main
      %h2 Bugs, features & security issues
      %p
        If you think you've found a bug in Shoppe, we'd love to hear about it and discuss it with you.
        We handle all bug reports on our GitHub issues page so please head over there and
        submit the bug.
      %p
        If you'd like to request a feature to be added to the core Shoppe system, please add an issue on
        GitHub and we'll respond to your request as appropriate. If we believe an issue is worth adding 
        it will be left on the account and potentially assigned a milestone. If we believe your request is
        out of scope and module territory, it will be closed.
      %p
        If you find a security issue, we would rather you didn't post this publically until we have had
        a chance to issue a fix. If you do come across a sensitive issue, please drop us an email to
        #{mail_to 'security@tryshoppe.com'} and we'll look at it right away.
