- @active_nav = :docs
- @page_title = "Docs & Tutorials"

%section.docs
  .inner
    = render 'nav'
    
    %section.main
      %h2 Docs & Tutorials
      %p
        Welcome to the documentation & tutorials section of the Shoppe website. In here we 
        hope you'll find an array of useful documents and tips to help you get started with
        Shoppe in your Rails application.
        
      %p.iconed.new
        If you're <b>new to Shoppe</b>, get started by checking our our #{link_to "getting started tutorials", docs_page_path('tutorials/getting-started')}
        which will guide you through setting up a new application. This then follows onto how to
        create controllers and build views for your shop.
      
      %p.iconed.experienced
        If you've <b>already got some experience</b> with Shoppe, you may want to take a look at our
        #{link_to 'generated API documentation', 'http://api.tryshoppe.com'} which is generated
        from the Shoppe source code automatically when new versions are deployed.
      
      %p.iconed.payments
        Alternatively, if you <b>want to add a payment gateway</b>, the #{link_to 'payment gateways list', docs_page_path('payment-gateways')}
        may be of interest to you.

  .screenshot