/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require reset
 *= require_self
 *= require_tree .
 */

$font: 'proxima-nova', Arial, sans-serif;
html { font-family:$font; font-size:12px; background-color:#40454d; -webkit-font-smoothing:antialiased; }
body { overflow-y:scroll;}

//
// The page inner container
//
div.inner {
	margin:auto;
	width:1000px;
}

// 
// Navigation bar
//
nav.primary {
	height:31px;
	h1 {
		float:left;
		a {
			display:block;
			width:43px;
			height:31px;
			background:image-url('logo-white.svg');
			background-size:43px;
			text-indent:-40000px;
			&:hover { opacity:0.7;}
		}
	}
	ul {
		margin-left:75px;
		padding-top:7px;
		li {
			float:left;
			margin-right:40px;
			a {
				font-size:1.25em;
				color:#fff;
				text-decoration:none;
				font-weight:600;
				padding-bottom:3px;
				border-bottom:3px solid transparent;
				&:hover, &.active { border-bottom-color:rgba(255,255,255,0.2)}
			}
			&.demo { float:right ; margin-left:40px; margin-right:0;}
			&.demo a {background:#fff; padding-bottom:0; border-bottom:0; font-size:1.1em; color:#86A800; padding:4px 12px; border-radius:4px;  }
		}
	}
}


//
// Footer 
//
footer.links {
	padding:50px 0;
	overflow:hidden;
	div.inner { }
	div.column { width:25%; float:left;}
	div.column.copyright {
		background:image-url('logo-white.svg') no-repeat 0 3px; background-size:36px;
		color:#fff;
		width:40%; float:left;
		margin-right:10%;
		opacity:0.3;
		p {
			margin-left:54px;
			line-height:1.5;
			font-size:1.2em;
			margin-bottom:10px;
		}
	}
	h4 { color:#fff; font-size:1.4em; font-weight:600;margin-bottom:10px;}
	ul li a {color:#fff; opacity:0.5; font-size:1.2em; line-height:1.7; text-decoration:none}
	ul li a:hover { text-decoration:underline;}
}

//
// Button
//
a.button {
	background:#9AC835;
	border:0 !important;
	color:#fff !important;
	padding:10px 28px;
	border-radius:4px;
	border-bottom:2px solid #7B9928 !important;
	font-weight:600;
}