// 
// Homepage header
//
header.home {
	background: #86a800 ;
	div.inner {
		background:image-url('logo-outline.svg') no-repeat 120px;;
		background-size:800px;
		padding:40px 0 40px 0;
	}
	
	div.screenshot {
		clear:both;
		float:right;
		width:500px;
		line-height:0;
		margin-top:90px;
		box-shadow:0 0 25px rgba(0,0,0,0.6);
		img {
			width:100%;
			height:100%;
		}
	}
	
	section.welcome {
		width:470px;
		margin:90px 0 80px 0;
		h2, h3 { color:#fff;  font-weight:300; }
		h2 { font-size:3.2em; line-height:1.3; }
		h3 { font-size:1.5em; margin-top:25px; line-height:1.4;}
		ul {
			margin-top:45px;
			overflow:hidden;
			li {
				float:left;
				margin-right:20px;
				a {
					background:#fff;
					color:#000;
					font-weight:600;
					text-decoration:none;
					padding:12px 22px;	
					font-size:1.2em;
					border-radius:5px;
					display:block;
					&.docs { background:#000; color:#fff;}
				}
			}
		}
	}
}



// 
// The homepage
//
section.home {
	section.features {
		background:#fff;
		padding:40px 0;
		ul {
			overflow:hidden;
			li {
				a {
					width:14%;
					float:left;
					color:#000;
					text-align:center;
					text-decoration:none;
					font-size:1.15em;
					font-weight:600;
					line-height:1.5;
					background:image-url('icons/commerce.svg') no-repeat 50% 0;
					padding-top:40px;
					margin-left:2%;
				}
				
				&.ui a { width:12%;}
				&.rails a { width:9%; background-image:image-url('icons/rails.svg')}
				&.design a { background-image:image-url('icons/design.svg')}
				&.payments a { width:12%; background-image:image-url('icons/payments.svg')}
				&.businesses a { background-image:image-url('icons/business.svg')}
				&.docs a { width:10%; background-image:image-url('icons/docs.svg')}
				&.support a { background-image:image-url('icons/support.svg')}
			}
		}
	}
	
	section.featureBoxes {
		background:#FCFCFC;
		height:280px;
		box-shadow: inset 0  25px 55px -25px rgba(0,0,0,0.15), 
		            inset 0 -25px 55px -25px rgba(0,0,0,0.15);
		
		ul {
			li { height:280px;}
			li div.arrow { width:40px; height:20px; background:image-url('arrow.svg') no-repeat; background-size:contain; position:absolute;}
			li.rails {
				height:280px;
				background:image-url('rails.png') no-repeat 0 50%;
				background-size:150px;
				div.arrow {margin-left:185px;}
				h3 { float:left; margin-left:200px;width:340px; font-size:2.8em; font-weight:300; line-height:1.5; margin-top:65px; color:#A42E3C;}
				h3 b { font-weight:500;}
				p  { float:left; width:350px; font-size:1.3em; line-height:1.5;margin-top:65px; margin-left:55px; line-height:1.7;}
				p a { color:#A42E3C; text-decoration:none; border-bottom:1px solid #e4adb3;}
			}
			
		}
		
	}
	
	section.partners {
		background:#fff;
		padding:40px 0;
		h4 { text-align:center; color:#999; margin-bottom:25px;	font-size:1.6em; font-weight:300;}
		ul {
			overflow:hidden;
			li {
				width:20%;
				float:left;
				text-align:center;
				margin-top:15px;
				a { display:block; background:image-url('partners/deploy.svg') no-repeat; width:100%; height:50px; background-size:80%; background-position:center 0;text-indent:-40000px;}
				&.deploy a { background-size:50%; background-position: center 7px;}
				&.atech a { background-image:image-url('partners/atech.svg'); background-position:center 8px;}
				&.niftyware a { background-image:image-url('partners/niftyware.svg'); background-position:center 4px;}
				&.codebase a {background-image:image-url('partners/codebase.svg'); background-position:center 4px;}
				&.deliver a { background-image:image-url('partners/deliver.svg');background-size:50%; }
			}
		}
	}
}
