//
// Page header
//
header.page {
	background:#fff;
	nav.primary { 
		padding:15px 0;
		h1 a { background-image:image-url('logo.svg')}
		ul li a { color:#000;}
		ul li a:hover, ul li a.active { border-bottom-color:rgba(0,0,0,0.1)}
	}
}

//
// Page section
// 
section.page {
	background:#fff;
	
	div.banner {
		background:#000;
		background-size:cover;
		background-position:50%;
		
		//
		// About banner
		//
		&.about {
			padding-top:190px;
			background-image:image-url('backgrounds/chicago.jpg');
		}
		
		//
		// Support banner
		//
		&.support {
			padding-top:190px;
			background-image:image-url('backgrounds/supermarket.jpg');
		}

		
		//
		// Features banner
		//
		&.features {
			background-image:image-url('backgrounds/city.jpg');
			padding:50px 0; 
			color:#fff;
			h2 { font-weight:300; width:50%;font-size:3.3em;}
			p { margin-top:15px; font-size:1.4em;line-height:1.5; width:55%;}
		}
		
		//
		// Nav
		//
		nav.page {
			border-top:1px solid rgba(255,255,255,0.2);
			background:rgba(0,0,0,0.8);
			padding:20px 0;
			ul {
				overflow:hidden;
				li {
					float:left;
					width:16%;
					margin:0 2%;
					a {
						display:block;
						color:#fff;
						text-decoration:none;
						text-align:center;
						h4 { font-size:1.4em;margin-bottom:4px; font-weight:600;}
						p { font-size:1.1em; color:#888;}
						div.arrow { position:absolute; margin-left:70px; margin-top:10px; width:30px; height:10px; background:image-url('arrow-up.svg') no-repeat bottom; background-size:contain;}
						&:hover h4 { color:rgba(255,255,255,0.8)}
						&:active {
							h4, p { color:rgba(255,255,255,0.3) }
						}
					}
				}
			}
			&.four {
				ul li {width:21%;}
				ul li a div.arrow {margin-left:90px;}
			}
		}
	}
	
	//
	// Docs page
	//
	section.docs {
		
		border-top:1px solid #efefef;
		overflow:hidden;
		div.inner {
			padding:50px 0;
		}
		div.screenshot {
			background:image-url('screenshots/code.png') no-repeat;
			background-size:cover;
			height:200px;
		}
		nav {
			width:20%;
			float:left;
			ul {
				li {
					padding-bottom:1px;
					a {
						display:block;
						background:#e8eef7;
						padding:8px;
						font-size:1.1em;
						color:#40454D;
						text-decoration:none;
						&:hover { background:#dce3ed}
						&.active { background:#40454D; color:#fff;}
					}
				}
			}
		}
		
		section.main {
			margin-left:25%;
			h2 { font-size:3.0em; font-weight:300;}
			p { margin:25px 0; font-size:1.25em; line-height:1.8;}
			p.iconed {margin:30px 0;padding-left:75px; background-repeat:no-repeat; background-position:0 5px; background-size:40px}
			p.iconed.new { background-image:image-url('icons/rocket.svg')}
			p.iconed.experienced { background-image:image-url('icons/book.svg')}
			p.iconed.payments { background-image:image-url('icons/payments.svg')}
			a { color:#369de1; text-decoration:none; border-bottom:1px solid #deedf7; font-weight:600;}
			
			h3 { font-size:2.5em; font-weight:600; margin:25px 0; border-bottom:1px solid #efefef; padding-bottom:5px;}
			h4 { font-size:2.0em; font-weight:600; margin:25px 0;}
			h5 { font-size:1.5em; font-weight:600; margin:25px 0;}
			ul, ol {
				line-height:1.8em;
				font-size:1.25em;
				margin-left:25px;
			}
			ul li { background:image-url('icons/pin.svg') no-repeat 0 4px; background-size:16px; padding-left:25px;}
			ol { margin-left:40px;}
			
			pre {
				background:#F8F8F8;
				margin:25px 0;
				line-height:1.3;
				padding:10px;
				border-radius:4px;
				border:1px solid #DDDDDD;
				white-space:pre;
			}
		}
	}
	
	//
	// Features page
	//
	section.features {
		section.ui {
			margin-bottom:40px;
			div.screenshot {
				width:55%;
				float:right;
				margin-top:-25px;
				line-height:0;
				box-shadow:0 0 35px rgba(0,0,0,0.6);
			}
			div.text {
				padding:40px 0;
				width:40%;
				h3 { font-size:2.3em; font-weight:500;}
				p { font-size:1.2em; line-height:1.5; margin-top:8px;}
				ul { margin-top:15px; line-height:1.8; font-size:1.2em; margin-left:35px;}
				ul li { background:image-url('icons/pin.svg') no-repeat 0 4px; padding-left:30px; background-size:16px;}
			}
		}
		
		section.developers {
			clear:both;
			background-color:#25292B;
			div.inner {
				background:image-url('screenshots/code.png') no-repeat 0 35px;
 				background-size:55%;
				padding:60px 0;
				color:#fff;
				h3, p { margin-left:60%;}
				h3 { font-size:2.3em; font-weight:500; margin-bottom:15px;}
				p { font-size:1.2em; line-height:1.5; margin-bottom:25px; }
				p:last-child { margin-bottom:0;}
			}
		}
		
		section.gateways {
			
			div.inner {
				background:image-url('gateways.png') no-repeat right 25px;
				background-size:400px 200px;
				padding:50px 0;
				h3, p { margin-right:45%;}
				h3 { font-size:2.3em; font-weight:500; margin-bottom:15px;}
				p { font-size:1.2em; line-height:1.5; margin-bottom:25px; }
				p a { color:#000;}
				p:last-child { margin-bottom:0;}				
			}
			
		}
	}
	
	//
	// Standard page content
	//
	section.content {
		padding:50px 0;
		div.sub {
			width:25%;
			float:right;
			padding-top:25px;
			ul.largeButtons {
				li {
					margin-bottom:25px;
					a {
						display:block;
						background:#EB5951;
						color:#fff;
						text-decoration:none;
						padding:15px 25px;
						border-radius:6px;
						h4 { font-weight:300; font-size:2.0em; background-repeat:no-repeat; background-position:0 4px; background-size:20px; padding-left:28px;}
						p { font-size:1.1em; font-weight:600;margin-top:5px; color:rgba(255,255,255,0.7)}
					}
					
					&.bug a { background-color:#62CBE8}
					&.bug a h4 { background-image:image-url('icons/bug.svg')}
					
					&.feature a { background-color:#0A315B;}
					&.feature a h4 { background-image:image-url('icons/bulb.svg')}
					
					&.security a { background-color:#EB5951}
					&.security a h4 { background-image:image-url('icons/lock.svg'); background-size:18px;}

					&.ticket a { background-color:#86A800}
					&.ticket a h4 { background-image:image-url('icons/case.svg'); }

					&.ticket-status a { background-color:#444}
					&.ticket-status a h4 { background-image:image-url('icons/question-white.svg'); }
					
					&.quote a { background-color:#86A800}
					&.quote a h4 { background-image:image-url('icons/contact.svg'); }

					&.twitter a { background-color:#00B0EB}
					&.twitter a h4 { background-image:image-url('icons/twitter.svg');background-size:24px; background-position:0 5px; }
					&.mailinglist a { background-color:#9244A8}
					&.mailinglist a h4 { background-image:image-url('icons/list.svg'); }
					&.blog a { background-color:#333}
					&.blog a h4 { background-image:image-url('icons/blog.svg'); background-position:0 5px }

				}
			}
		}
		div.main {
			width:70%;
			h2 { font-size:3.5em; font-weight:300;}
			h3 { font-size:2.0em;  margin:20px 0; font-weight:600;}
			p { margin:20px 0;  font-size:1.3em; line-height:1.8;}
			p a { color:#0096C9; text-decoration:none; border-bottom:1px solid #E7EFF2; font-weight:600;}
		
			div.license {
				background:#f7f7f7;
				border:1px solid #ccc;
				font-family:Consolas, Monaco, 'Courier New', fixed;
				font-size:0.9em;
				padding:1px 15px;
			}
		
			section.iconed {
				padding-left:50px;
				margin:40px 0;
				background-repeat:no-repeat;
				background-size:30px;
				&.contributing.code { background-image:image-url('icons/code.svg')}
				&.contributing.design { background-image:image-url('icons/design.svg')}
				&.contributing.documentation { background-image:image-url('icons/docs.svg')}
				&.contributing.other { background-image:image-url('icons/question.svg')}
			}
			
			ul.list { margin-top:15px; line-height:1.8; font-size:1.3em; margin-left:35px;}
			ul.list li { background:image-url('icons/pin.svg') no-repeat 0 4px; padding-left:30px; background-size:16px;}
			
			ul.team {
				margin:35px 0;
				overflow:hidden;
				li {
					width:33%;
					float:left;
					text-align:center;
					img { display:block; margin:auto;margin-top:5px;margin-bottom:15px; border:3px solid #fff; outline:1px solid #ddd;}
					h4, p { margin:0; font-size:1.2em}
					h4 a { color:#333; font-size:1.1em;}
					p { color:#999;}
				}
			}
			
			p.download { border-radius:7px; background:#f3f6ec;padding:25px 0; text-align:center; margin:30px 0;}
			
			p.buttons {
				margin:30px 0;
				a {
					display:inline-block;
					border:0;
					background: #fcfcfc; /* Old browsers */
					background: -moz-linear-gradient(top,  #fcfcfc 0%, #efefef 100%); /* FF3.6+ */
					background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfcfc), color-stop(100%,#efefef)); /* Chrome,Safari4+ */
					background: -webkit-linear-gradient(top,  #fcfcfc 0%,#efefef 100%); /* Chrome10+,Safari5.1+ */
					background: -o-linear-gradient(top,  #fcfcfc 0%,#efefef 100%); /* Opera 11.10+ */
					background: -ms-linear-gradient(top,  #fcfcfc 0%,#efefef 100%); /* IE10+ */
					background: linear-gradient(to bottom,  #fcfcfc 0%,#efefef 100%); /* W3C */
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#efefef',GradientType=0 ); /* IE6-9 */
					font-size:0.9em;
					font-weight:600;
					padding:4px 15px;
					border:1px solid #ccc;
					border-radius:4px;
					margin-right:5px;
				}
			}
						
			ul.logo-usage {
				font-size:1.3em;
				margin:45px 0;
				line-height:1.5;
				li {
					margin-bottom:25px;
					padding-left:40px;
					background-repeat:no-repeat;
					background-size:20px;
					background-position:0 2px;
					b { font-weight:600;}
					&.ok { background-image:image-url('heart.svg')}
					&.ok b { color:#9AC835;}
					&.bad { background-image:image-url('heart-cross.svg')}
					&.bad b { color:#c8353c;}
					&:last-child { margin-bottom:0;}
				}
			}
		
			ul.logos {
				overflow:hidden;
				margin:25px 0;
				li {
					width:50%;
					float:left;
					height:180px;
					background:#40454D;
					text-align:center;
					&:first-child {
						border-top-left-radius:7px;
						border-bottom-left-radius:7px;
					
					}
					&:last-child {
						border-top-right-radius:7px;
						border-bottom-right-radius:7px;
						background:#F7F9FC;
					}
					img { width:60%;display:block; margin:60px auto 0 auto;}
				}
			}
		
			ul.partners {
				overflow:hidden;
				margin:45px 0;
				li {
					width:45%;
					float:left;
					text-align:center;
					margin-right:5%;
					h3 { height:30px;}
					&:nth-child(2n) { margin-right:0; margin-left:5%;}
					p { font-size:1.2em;}
					p a { font-weight:600;}
				}
			}
		}
	}
}